<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card *ngIf="!isLoggedIn">
      <ion-card-header>
          Login
        </ion-card-header>
        <ion-card-content>
            <ion-list>
                <ion-item>
                  <ion-label fixed>Username</ion-label>
                  <ion-input type="text" [(ngModel)]="userName"></ion-input>
                </ion-item>
              
                <ion-item>
                  <ion-label fixed>Password</ion-label>
                  <ion-input type="password" [(ngModel)]="userPassword"></ion-input>
                </ion-item>
                <ion-item>
                    <button ion-button pull-right (click)="onLogin()">Login</button>
                </ion-item>
              </ion-list>          
        </ion-card-content>  
  </ion-card>
  <ion-card *ngIf="isLoggedIn">
    <ion-card-header>
      Todo List
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let todo of todoItems">
          {{todo.name}}    
        </ion-item>
        <ion-item><button ion-button color="light" (click)="onRefreshTodoItems()">Refresh</button></ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
    
</ion-content>
